extends layout

block content
  .container.about
    h1.home-heading About Fabstyla
    .row
      .col-md-8.col-12
        p 
          | Welcome to Fabstyla, your number one source for all things fashion. 
          | We're dedicated to giving you the very best of clothing, with a focus on quality, customer service, and uniqueness.
        h2 Our Vision
        p 
          | Our vision at Fabstyla is to become the leading online retailer for trendy and stylish clothing that caters to fashion-forward individuals. 
          | We aim to provide an exceptional shopping experience by offering a diverse range of high-quality products at affordable prices. 
          | We are committed to continually evolving with the latest fashion trends and innovating to meet the needs and desires of our customers.
        p 
          | Founded in 2024, Fabstyla has come a long way from its beginnings. When we first started out, our passion for fashion drove us to start our own business. 
          | We now serve customers all over the world and are thrilled to be a part of the fashion industry.
        p 
          | We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
      .col-md-4.col-12
        //(https://www.vecteezy.com/photo/30465639-clothing-shop-s-hangers-exhibit-modern-fashion-highlighting-the-boutique-s-stylish-ambiance-vertical-mobile-wallpaper-ai-generated)
        img.img-fluid(src="/images/about-image.jpg")
