doctype html
html
  head
    title Fabstyla
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/styles.css')
  body
    block content
      .container
        .row
          .col-md-12
            h1 Add Product
            form(action='/admin/add', method='POST')
              .form-group.row
                label.col-sm-2.col-form-label(for='name') Product Name
                .col-sm-10
                  input.form-control(type='text', name='name', required)
              .form-group.row
                label.col-sm-2.col-form-label(for='price') Price
                .col-sm-10
                  input.form-control(type='number', name='price', required)
              .form-group.row
                label.col-sm-2.col-form-label(for='color') Color
                .col-sm-10
                  input.form-control(type='text', name='color', required)
              .form-group.row
                label.col-sm-2.col-form-label(for='category') Category
                .col-sm-10
                  input.form-control(type='text', name='category', required)
              .form-group.row
                label.col-sm-2.col-form-label(for='image') Image URL
                .col-sm-10
                  input.form-control(type='text', name='image', required)
              .form-group.row
                .col-sm-10.offset-sm-2
                  button.btn.btn-primary(type='submit') Add Product